body {
    background-color: #272727;
    margin: 0;
    padding: 0;
}

.main-menu {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-menu > p {
    font-size: large;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;

}

.question { 
    padding-left: 30px;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
}

.question > p {
    font-size: medium;
    color: white;
    font-weight: bold;
}

.options {
    font-size: medium;
    color: white;
    padding-left: 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border-radius: 15px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #4285F4;
    color: rgb(39, 55, 77);
    font-weight: bolder;
    width: 200px;
    height: 30px;
    border: none;

}

.result {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
}

.result > h2 {
    font-size: x-large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result > p {
    font-size: medium;
    color: white;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    align-items: center;
}

#resultImage {
    display: flex !important;
    justify-content: center !important;
    width: 40% !important;
}

#refresher > p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
    color: white;
    padding-top: 7px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 50px;
}